<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon</title>
</head>

<body>
    <h1>Benvenuto nel gioco Pokémon!</h1>

    <form action="{{ url_for('genera_pacchetto_route') }}" method="post">
        <button type="submit">Apri un pacchetto</button>
    </form>

    <p>Credito totale: {{ credito_giocatore }}</p>

    <form action="{{ url_for('visualizza_raccolta_route') }}" method="get">
        <button type="submit">Mostra raccolta</button>
    </form>
</body>

</html>
